:root {
    --activ-foreground-color: #f9f9f9;
    --activ-background-color: #31333f;

    --activ-table-header-background-color: #4e5164;
    --activ-table-row-background-color: var(--activ-background-color);
    --activ-table-row-background-alt-color: #3b3d4b;
    --activ-table-row-background-hover-color: #235974;

    --activ-input-background-color: darkgrey;
    --activ-link-color: #00a5f8;

    --activ-trend-up-color: lime;
    --activ-trend-down-color: red;

    --activ-h1-color: #309ec4;
    --activ-h2-color: var(--activ-h1-color);
    --activ-h3-color: var(--activ-h1-color);
    --activ-h4-color: var(--activ-h1-color);
    --activ-h5-color: var(--activ-h1-color);
    --activ-h6-color: var(--activ-h1-color);

    user-select: none;
    cursor: default;
}

.close {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.dropdown-menu {
    font-size: 11px;
    border-radius: 0px;
    border: 1px solid lightgray;
    padding: 0;
}

.dropdown-menu a {
    cursor: default;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: cornflowerblue;
    background-repeat: initial;
    background-image: initial;
}

.dropdown-menu > .disabled > a:focus {
    outline: none;
}

.flex-box {
    display: flex;
    flex-flow: column;
}

.flex-box > .row {
    flex: none;
    width: 100%;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    font-size: 12px;
}

.footer {
    background-color: var(--activ-table-row-background-hover-color);
    bottom: 0;
    height: 1.125rem;
    min-width: 360px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    width: 100%;
}

.no-gutter,
.no-gutter .row {
    margin-left: auto;
    margin-right: auto;
}

.no-gutter [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.panel {
    min-width: 360px;
}

.icon-button,
.link-button {
    background: transparent;
    border: none;
    color: inherit;
    outline: none;
    padding: 0;
}

.icon-button:hover .glyph-icon {
    color: white;
    font-weight: bold;
}

.link-button {
    color: var(--activ-link-color);
}
