html {
    min-height: 100vh;
    position: relative;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background: var(--activ-background-color);
}

.main-content-container {
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.status-indicator {
    background-color: grey;
    border-radius: 20px;
    display: inline-block;
    height: 0.75rem;
    width: 0.75rem;
}

.status-indicator.active {
    background-color: limegreen;
}

.status-indicator.error {
    background-color: red;
}

.status-indicator.connecting {
    animation: status-indicator-pulse 2s infinite;
}

@keyframes status-indicator-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#connectionStatusText {
    text-align: right;
    padding-right: 1rem;
}

td,
th {
    font-size: 11px;
    white-space: nowrap;
}

th {
    background-color: var(--activ-table-header-background-color);
}

tr {
    background-color: var(--activ-table-row-background-color);
}

tr:nth-child(even) {
    background-color: var(--activ-table-row-background-alt-color);
}

tr:hover {
    background: var(--activ-table-row-background-hover-color);
}

td.wrap-text {
    white-space: normal;
}

#symbolsTable td,
#symbolsTable th {
    border: 0;
}

.symbol-list-row:nth-last-child(1) {
    background: var(--activ-background-color);
}

.symbol-link {
    cursor: default;
}

#connectionFormModal {
    overflow-x: auto;
}

#connectionFormModal .modal-dialog {
    margin-bottom: 15px;
    margin-top: 15px;
    min-width: 600px;
}

#connectionFormModal .modal-header,
#connectionFormModal .modal-body {
    padding: 10px 15px;
}
